html {
    height: 100%;
}

body {
    display: block;
    
}

form {
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#summary {
    position: relative;
    top: 15px;
}

span {
    padding-left: 20px;
    font-weight: 500;
}

#calc-btn {
    margin-left: 15px;
}

p {
    font-weight: 500;
}

label {
    color: grey;
}

.fade-in {
    
}